---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Cryptography 101"
  description="กลัวบางโจทย์เพื่อน ๆ เห็นแล้วปวดหัว เลยเอาโจทย์ง่าย  มาแทนคับ"
>
  <h1>Cryptography 101</h1>

  <p>กลัวบางโจทย์เพื่อน ๆ เห็นแล้วปวดหัว เลยเอาโจทย์ง่าย ๆ มาแทนคับ</p>

  <code
    >Sgj Djrittitr (pClS_lxZj_DqlIy_LcDlsIscSiXt_yIkGJM) 1 It sgj djrittitr Rxe
    ymjqsje sgj gjqfjtl qte sgj jqmsg. 2 Txa sgj jqmsg aql bxmzwjll qte jzkso,
    eqmutjll aql xfjm sgj lcmbqyj xb sgj ejjk, qte sgj Lkimis xb Rxe aql
    gxfjmitr xfjm sgj aqsjml. 3 Qte Rxe lqie, “Wjs sgjmj dj wirgs,” qte sgjmj
    aql wirgs. 4 Rxe lqa sgqs sgj wirgs aql rxxe, qte gj ljkqmqsje sgj wirgs
    bmxz sgj eqmutjll. 5 Rxe yqwwje sgj wirgs “eqo,” qte sgj eqmutjll gj yqwwje
    “tirgs.” Qte sgjmj aql jfjtitr, qte sgjmj aql zxmtitr—sgj bimls eqo. 6 Qte
    Rxe lqie, “Wjs sgjmj dj q fqcws djsajjt sgj aqsjml sx ljkqmqsj aqsjm bmxz
    aqsjm.” 7 Lx Rxe zqej sgj fqcws qte ljkqmqsje sgj aqsjm ctejm sgj fqcws bmxz
    sgj aqsjm qdxfj is. Qte is aql lx. 8 Rxe yqwwje sgj fqcws “luo.” Qte sgjmj
    aql jfjtitr, qte sgjmj aql zxmtitr—sgj ljyxte eqo. 9 Qte Rxe lqie, “Wjs sgj
    aqsjm ctejm sgj luo dj rqsgjmje sx xtj kwqyj, qte wjs emo rmxcte qkkjqm.”
    Qte is aql lx. 10 Rxe yqwwje sgj emo rmxcte “wqte,” qte sgj rqsgjmje aqsjml
    gj yqwwje “ljql.” Qte Rxe lqa sgqs is aql rxxe.</code
  >
</Layout>
