---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="shit8 challenge" description="challenge อะไรก็ไม่รู้">
  <h1>The Stipud Honkathack in Thailand Dan of Smile ครั้งที่ 8</h1>

  <p>
    Welcome to 2<sup>nd</sup> batch of stupid hack 8<sup>th</sup> tickets. There
    are many challenges in this batch that you can try to win to get the tickets.
    The tickets are limited so be quick!
  </p>

  <p>
    Most of the challenges will bring you to external website to compete for the
    tickets (except Stupid Quiz), therefore we cannot tell if someone already
    get the ticket or not. Good luck on fighting for seat.
  </p>

  <p>
    Some of the challenges might require dev skills to complete, but some of the
    challenges also can be completed by anyone. This event welcomes non-dev too!
    Feel free to join.
  </p>

  <h2>Ticket Challenges</h2>

  <ul>
    <li>Puzzle by SaltyAom</li>

    <li>
      <a href="https://youtu.be/TljLzIAOKcY" target="_blank" rel="noreferrer">
        Shikanoko Challenge (しかのこのこのここしたんたん)
      </a> by Leomotors
    </li>

    <li>Travelling Salesman by Tar</li>

    <li>Reverse Engineering by Gus</li>

    <li>Slow Scan TV by Gus</li>

    <li>Minecraft Challenge by Staff</li>

    <li>Stenography by Gus</li>

    <li><a href="/quiz/play">Stupid Quiz</a> by Leomotors</li>
  </ul>
</Layout>
