---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="Minecraft Challenge" description="Join our minecraft server">
  <h1>Minecraft Challenge</h1>

  <p>Server IP = [SERVER CLOSED]</p>
  <p>Supported Client: Java Edition 1.20.6</p>

  <p>
    <b>Note</b>: Even though it's stupid hackathon but please don't use cheats!
    We are grown Adult.
  </p>

  <h2>Missions - There are two tickets in each challenge</h2>
  <ul>
    <li>
      <b>Trade Offer</b> - As shown in Poster, you will trade Dragon Egg with the
      ticket. However, villager is currently unemployed because they were replaced
      by AI.
    </li>

    <li>
      <b>You could travel the world</b> - Travel 10 Kilometers North
    </li>

    <li>
      <p>
        <b>Traveling Salesman</b> - Collect 7 Dragon Balls (Don't worry, we have
        Dragon Ball locator for you)
      </p>

      <p>
        Locations - Step on Command Block to collect Dragon Ball, it will locate
        near that location
      </p>
      <ul>
        <!-- TODO: Delete Comment (Astro don't do that) -->
        <li><!-- Igloo --> -1896 -186</li>
        <li><!-- Ocean Ruin --> -240 -560</li>
        <li><!-- Shipwreck Beached --> -1296 -2080</li>
        <li><!-- Ancient City --> 208 -240</li>
        <li><!-- Ocean Monument --> 655 -692</li>
        <li><!-- Pillager Outpost --> -992 -144</li>
        <li><!-- Jungle Pyramid --> 1808 -1472</li>
      </ul>
    </li>
  </ul>
</Layout>
