---
import { mcTimeGuard } from "../data/timeGuard";
import Layout from "../layouts/Layout.astro";
const timeGuard = mcTimeGuard();
if (timeGuard) return timeGuard;
---

<Layout title="Minecraft Challenge" description="Join our minecraft server">
  <h1>Minecraft Challenge</h1>

  <p>Server IP = uddy-cloud.thddns.net</p>
  <p>Supported Client: Java Edition 1.20.6</p>
</Layout>
